/* 

*{
    margin: 0;
    padding: 0;
}
.header_outer_container {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(20,20,20);
    background-color: transparent;
    height: 10vh;
    color: black;
    transition:all 0.5s;
    transition-timing-function: ease-in;
    z-index: 1;
    /* background-color: red; */
/* } */



* {
    margin: 0;
    padding: 0;
}


.header_outer_container {
    background-color: #141414;
    position: sticky;
    /* background-color: transparent; */
    transition-timing-function: ease-in;
    transition: all 0.5s;
    height: 10vh;
    padding: 10px 20px;
    z-index: 1;
}

.header_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_left ul,
.header_right ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.header_left ul li,
.header_right ul li {
    color: #fff;
    margin: 0 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.header_left ul li:hover,
.header_right ul li:hover {
    color: #e50914;
}

.logo {
    margin-right: 20px;
}

.header_right ul li {
    display: flex;
    align-items: center;
    justify-content: center;
}